extends /layout

block css
    link(rel="stylesheet",href="#{assetsCDN}/s/design-works/detail.css")
block content
    #main-container.wrapper-990.clearfix
        .main-content
            h1
                a.avatar(href="/u/")
                    img(src="#{imgCDN}/avatar/#{req.session._id}_80x80")
                span.title
                    span.title-input
                        input(type="text",placeholder="Please input title")
                span.category Edit
                - var date=new Date()
                    span.date #{date.getFullYear()}年#{date.getMonth()+1}月#{date.getDate()}日 #{date.getHours()} : #{date.getMinutes()}

            .main-pic-container
                .main-pic
                    .upload-file-wrapper(style="height:600px;") Drag file to here,or select file
        .sidebar
            .des
                h2 设计简介：
                div.describe
                    .describe-input-wrapper
                        textarea Tag
            .tag
                h2 相关标签
                .tag-control
block js
    //script(src="#{assetsCDN}/s/??design-works/dist/detail/detail.js,global/dist/like/init.js,global/dist/comment/comment.js")

